<h2>A lenti gombra kattintva kérlek add meg a hiányzó adataidat!</h2>
<hr>
<div class="row">
  <div class="col-md-12">
    <label for="email">E-mail: </label>
    {{ 'e-mail cím'}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label for="firstName">Vezetéknév: </label>
    {{ 'Vezetéknév' }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label for="lastName">Keresztnév: </label>
    {{ 'Keresztnév' }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label for="city">Lakóhely: </label>
    {{ 'Lakóhely' }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label for="password">Jelszó: </label>
    {{ 'Jelszó' }}
  </div>
</div>
<button class="btn btn-primary">Módosít</button>
